<%- include('partials/header.ejs') %>

<section class="blueBanner">
    <h2>About Homeschool Dash</h2>
</section>

<section class="centering">
    <section class="preAuthCard w-full lg:w-1/2">
        <h1 class="headings">My Mission</h1>
        <p>As a parent who has homeschooled, I know just how hard the planning process can be. Parents just starting out are often confused on where to begin and are left to search for help in forums and groups. Digital resources for tracking are almost non-existent.</p>
        <p>I was inspired by this need to create Homeschool Dash in the hopes that one day it will serve as a one-stop resource and tool to support homeschooling parents in their journey.</p>
    </section>
</section>
<%- include('partials/footer.ejs') %>