<%- include('partials/header.ejs') %>

<p>addchild</p>

<form action="/profile" method="post">
    <input type="text" name="childName">
    <input type="number" name="grade">
    <input type="submit">
</form>

<%- include('partials/footer.ejs') %>