<%- include('partials/header.ejs') %>

<section class="blueBanner">
    <h2>Resources</h2>
</section>
<!-- <h1 class="text-center mt-10 headings">Coming Soon!</h1> -->
<section class="stateOptions">
    <span>States</span>
    <select name="states" id="states">
        <option value="starter" selected>Choose a state:</option>
        <% States.forEach(item => { %>
            <option data-id='<%= item._id %>'><%= item.state %></option>
        <% }) %>
    </select>

    <p id="stateName"></p>
</section>

<%- include('partials/footer.ejs') %>