<%- include('partials/header.ejs') %>

<section class="blueBanner">
    <h2>Resources</h2>
</section>

<section class="card">

    <section class="cardSection">
        <img src="/images/resources.jpg" class="imgHorizontal" alt="">
    </section>

    <section class="cardSection">

    </section>

</section>

<%- include('partials/footer.ejs') %>