<%- include('partials/authHeader.ejs') %>

<% if (locals.messages.errors) { %>
    <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %>    
<% } %>

<section class="blueBanner">
    <h2>Sign Up:</h2>
</section>

<form action="/signup" method="POST">
    <input type="text" name="userName" placeholder="User Name" class="inputs">
    <input type="email"  name="email" placeholder="Email" class="inputs">
    <input type="password"  name="password" placeholder="Password" class="inputs">
    <input type="password"  name="confirmPassword" placeholder="Confirm Password" class="inputs">
    <input class="submitBtn" type="submit">
</form>

<p class="font-medium">Already have an account? <a href="/login" class="underline text-brandRed">Login here</a></p>

<%- include('partials/footer.ejs') %>